.scroll {
  width: 250px;
  min-height: 325px;
  background-image: url('../assets/scroll.gif');
  background-repeat: repeat-y;
}

.scroll .message-body {
  padding: 0 20px 0 40px;
  word-wrap: break-word;
}

.scroll .greeting {
  padding: 70px 0 20px 30px;
}

.scroll .closing {
  padding: 20px 0 0 30px;
}