.scroll {
  background-image: url('../assets/scroll.gif');
  width: 250px;
  height: 353px;
  background-repeat: no-repeat;
  margin-top: 40px;
}

.scroll > div {
  padding-left: 40px;
}

.scroll > div:nth-child(1) {
  padding: 70px 0 20px 30px;
}

.scroll > div:nth-child(3), .scroll > div:nth-child(4) {
  padding: 0 0 0 30px;
}

.scroll > div:nth-child(3) {
  padding-top: 20px;
}