.scrollCreatorPanel {
  width: 50%;
  margin: 2% 25% 0;
  padding: 3em;
  border: 0.0625em solid #ddd;
  border-radius: 0.5em;
}

.add-body-button {
  float: left;
  margin-right: 1em;
  display: inline-block;
}

.multi-field-input {
  margin-bottom: 1em;
}